<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qingzhou.core.dao.ConfErrorCodeDao" >

  <resultMap id="confErrorCodeResult" type="confErrorCode">
    <result column="ID" property="id" /> <!--  -->
    <result column="MESSAGE" property="message" /> <!--  -->
    <result column="REMARK" property="remark" /> <!--  -->
  </resultMap>

  <sql id="whereClause">
    <where>
        <if test="id != null and id != ''">
          and ID = #{id}
        </if>
        <if test="message != null and message != ''">
          and MESSAGE = #{message}
        </if>
        <if test="remark != null and remark != ''">
          and REMARK = #{remark}
        </if>
    </where>
  </sql>

  <select id="select" parameterType="confErrorCode" resultMap="confErrorCodeResult">
    select * from CONF_ERROR_CODE
    <include refid="whereClause"/>
  </select>

  <select id="listConfErrorCode" parameterType="confErrorCode" resultMap="confErrorCodeResult">
    select * from CONF_ERROR_CODE
    <include refid="whereClause"/>
  </select>
  
  <insert id="insert" parameterType="confErrorCode">
    insert into CONF_ERROR_CODE (
    <trim prefix="" prefixOverrides=",">
        <if test="id != null and id != ''">, ID</if>
        <if test="message != null and message != ''">, MESSAGE</if>
        <if test="remark != null and remark != ''">, REMARK</if>
    </trim>
    )
    values (
    <trim prefix="" prefixOverrides=",">
        <if test="id != null and id != ''"> , #{id}</if>
        <if test="message != null and message != ''"> , #{message}</if>
        <if test="remark != null and remark != ''"> , #{remark}</if>
    </trim>
    )
  </insert>

  <delete id="delete" parameterType="confErrorCode">
    delete from CONF_ERROR_CODE
    <include refid="whereClause"/>
  </delete>

  <select id="count" parameterType="confErrorCode" resultType="int">
    select count(1) from CONF_ERROR_CODE
    <include refid="whereClause"/>
  </select>

  <select id="selectByPK" resultMap="confErrorCodeResult">
    select * from CONF_ERROR_CODE
		where ID = #{id}
  </select>

  <update id="updateByPK" parameterType="confErrorCode">
    update CONF_ERROR_CODE
    <trim prefix="set" suffixOverrides=",">
        <if test="message != null and message != ''">MESSAGE = #{message:VARCHAR},</if>
        <if test="remark != null and remark != ''">REMARK = #{remark:VARCHAR},</if>
    </trim>
		where ID = #{id}
  </update>

  <delete id="deleteByPK">
    delete from CONF_ERROR_CODE
		where ID = #{id}
  </delete>

  <delete id="deleteBatch">
    delete from CONF_ERROR_CODE
		where ID in <foreach collection="array" item="ldjxmcIds"  open="(" separator="," close=")">#{ldjxmcIds}</foreach>
  </delete>
</mapper>